{% extends 'base.html.twig' %}

{% block title %}Offres disponibles :{% endblock %}

{% block body %}
    <h1>Nos offres</h1>
        <tbody>
        {% for vehicule in vehicules %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}">Create new</a>
{% endblock %}
