<link href="{{ asset('css/navbar.css') }}" type="text/css" rel="stylesheet">

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="{{ path('voituredispo')}}">Voitures</a>
  <a href="{{ path('scooterdispo')}}">Scooter</a></a>
  <a href="{{ path('vehiculedispo')}}">Toutes nos offres</a>
</div>



        <tr>
            <td> <a  </td>
        </tr>
        <tr>
            <td> <a </td>
        </tr>
        <tr>
            <td> <a  </td>